html,
body {
    height: 100%;
    margin: 0;
    scroll-behavior: smooth;
}
.leaflet-container {
    height: 400px;
    width: 600px;
    max-width: 100%;
    max-height: 100%;
}
:root {
    --map-tiles-filter: brightness(0.6) invert(1) contrast(3) hue-rotate(200deg) saturate(0.3) brightness(0.7);
}

@media (prefers-color-scheme: dark) {
    .map-tiles {
        filter:var(--map-tiles-filter, none);
    }
}
#map {
    width: 1000px;
    height: 600px;
    border-radius: 25px;
}
.info {
    padding: 6px 8px;
    font: 14px/16px Arial, Helvetica, sans-serif;
    background: white;
    background: rgba(255, 255, 255, 0.8);
    box-shadow: 0 0 15px rgba(0, 0, 0, 0.2);
    border-radius: 5px;
}
.info h4 {
    margin: 0 0 5px;
    color: #777;
}
.legend {
    text-align: left;
    line-height: 18px;
    color: #555;
}
.legend i {
    width: 18px;
    height: 18px;
    float: left;
    margin-right: 8px;
    opacity: 0.7;
}
.chart-container {
    width: 800px;
    height:600px;
    background-color: midnightblue;
    border-radius: 20px;
}

.monthly-container {
    width: 800px;
    height:400px;
    background-color: midnightblue;
    border-radius: 20px;
}

.title {
    font-size: 100px;
    color: white;

}
#witnesses-div {
    color: white;
    font-size: 53px;
    margin-top: 50px;
}

.witnesses {
    color: firebrick;
    font-weight: bold;
}

.flex-container {
    display: flex;
    flex-direction: column;
}

.flex-container section {
    //border: 1px solid white;
    height: 100vh;
}

#first-section {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

#second-section {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 50px;
}

#third-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

#fourth-section {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
}

.mapText {
    font-size: 40px;
    color: white;
    margin-top: 50px;
}

.beretninger {
    color: white;
}

.fade-in {
    animation: fadeIn ease 10s;
    -webkit-animation: fadeIn ease 10s;
    -moz-animation: fadeIn ease 10s;
    -o-animation: fadeIn ease 10s;
    -ms-animation: fadeIn ease 10s;
}
@keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-moz-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-webkit-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-o-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }
}

@-ms-keyframes fadeIn {
    0% {
        opacity:0;
    }
    100% {
        opacity:1;
    }}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
#witnesses-div {
    animation: fade-in 10s;
}
@keyframes fade-in {
    from {
        opacity: 0;
    }
    to {
        opacity: 1;
    }
}
h1 {
    animation: fade-in 3s;
}

.beretninger {
    padding: 25px;
    color: white;
    display: flex;
    font-size: 20px;
    font-weight: bold;
    flex-wrap: wrap;
}
#top-button {
    display: none;
    position: fixed;
    bottom: 20px;
    right: 20px;
    width: 50px;
    height: 50px;
    z-index: 99;
    border: none;
    outline: none;
    background-color: firebrick;
    color: white;
    cursor: pointer;
    padding: 15px;
    font-size: 18px;
    -webkit-border-radius: 35px;
    -moz-border-radius: 35px;
    border-radius: 35px;
}
#top-button i {
    color: #fff;
    margin: 0;
    position: relative;
    font-size: 19px;
}
#top-button:hover {
    background: lightslategrey;
}
#top-button:hover i {
    color: #fff;
    bottom: 5px;
}

.beretninger p {
    border: 1px solid white;
}