body {
    font-family: "Times New Roman";
}

.row-container {
    display: flex;
    flex-direction: row;
    padding: 15px;
}

#map {
    height: 95vh;
    width: 50%;
    z-index: 0;
}

.row-container h1 {
    color: white;
    font-size: 50px;
    position: absolute;
    z-index: 1;
    margin-left: 50px;
}

.row-container h2 {
    color: white;
    font-size: 42px;
    position: absolute;
    z-index: 1;
    margin-left: 50px;
    top: 10%;
}

.row-container h2 span {
    color: turquoise;
    font-weight: bolder;
}

.row-container p {
    color: white;
    font-size: 20px;
    position: absolute;
    z-index: 1;
    margin-left: 50px;
    bottom: 0.5%;
}

.column-container {
    display: flex;
    flex-direction: column;
    width: 50%;
    height: 95vh;
}

.column-container div {
    height: 50%;
    padding: 10px;
}

.chart-container h3 {
    color: white;
    font-size: 20px;
    position: absolute;
    z-index: 1;
    margin-left: 50px;
    top: 2.5%;
}

.chart-container p {
    color: white;
    font-size: 15px;
    position: absolute;
    z-index: 1;
    margin-left: 50px;
    top: 7.5%;
}

.monthly-container h3 {
    color: white;
    font-size: 20px;
    position: absolute;
    z-index: 1;
    margin-right: 50px;
    left: 80%;
    top: 52.5%;
}

.monthly-container p {
    color: white;
    font-size: 15px;
    position: absolute;
    z-index: 1;
    margin-right: 50px;
    left: 77.5%;
    top: 60.5%;
}

.leaflet-popup-content {
    width: fit-content;
    height: fit-content;
}